{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Autorzy' }}
{% endblock %}

{% block body %}
    <h1>Autorzy</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.author'|trans, 'u.firstName') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_date'|trans, 'u.createdAt') }}</th>
                <th> {{ 'label.number_of_article'|trans }} </th>
                <th>{{ 'label.number_of_followers'|trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ 'label.options'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for author in pagination %}

                <tr>
                    <td>
                        <a href="{{ url('author_view', {id: author.id, firstName: author.firstName}) }}">
                        {% if author.avatar.file is defined %}
                            <img width="60px" src="{{ asset('uploads/photos/'~ author.avatar.file.filename) }}" alt="">
                        {% else %}
                            <img width="60px" src="{{ asset('uploads/photos/user_placeholder_image.jpg') }}" alt="">
                        {% endif %}
                        <span>{{ author.firstName }}</span>
                        {% if author.blogName is not null %}
                            <span> ({{ author.blogName }})</span>
                        {% endif %}
                        </a>
                    </td>
                    <td>{{ author.createdAt|localizeddate }}</td>
                    <td>{{ author.articles|length }}</td>
                    <td>{{ author.followers|length }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}