{% extends 'base.html.twig' %}

{% block title %}{{ 'title.author_list'|trans }}{% endblock %}

{% block authorsActive %}text-dark{% endblock %}

{% block body %}
    <h1 class="header">{{ 'title.author_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center flex-column">
            {{ knp_pagination_render(pagination) }}
        </div>
        <section class="authors-container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.author'|trans, 'u.firstName') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_date'|trans, 'u.createdAt') }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="ta-center"> {{ 'label.number_of_article'|trans }} </th>
                    <th class="ta-center">{{ 'label.number_of_followers'|trans }}</th>
                    <th class="ta-right">{{ 'label.options'|trans }}</th>
                {% else %}
                    <th class="ta-right"> {{ 'label.number_of_article'|trans }} </th>
                    <th class="ta-right">{{ 'label.number_of_followers'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for author in pagination %}
                <tr>
                    <td>
                        <a href="{{ url('author_view', {id: author.id, firstName: author.firstName}) }}">
                        {% if author.avatar.file is defined %}
                            <img class="rounded-circle" width="60px" src="{{ asset('uploads/photos/'~ author.avatar.file.filename) }}" alt="">
                        {% else %}
                            <img class="rounded-circle" width="60px" src="{{ asset('uploads/photos/user_placeholder_image.jpg') }}" alt="">
                        {% endif %}
                        <span class="user-td">{{ author.firstName }}</span>
                        {% if author.blogName is not null %}
                            <span class="user-td"> ({{ author.blogName }})</span>
                        {% endif %}
                        </a>
                    </td>
                    <td>{{ author.createdAt|localizeddate }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="ta-center"> {{ author.articles|length }} </td>
                        <td class="ta-center">{{ author.followers|length }}</td>
                        <td class="ta=right">
                            <a href="{{ url('delete_user', {id: author.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        </td>
                    {% else %}
                        <td class="ta-right">{{ author.articles|length }}</td>
                        <td class="ta-right">{{ author.followers|length }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </section>

        <div class="navigation text-center flex-column">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}