{% extends 'base.html.twig' %}

{% block title %}
    {{ authorData[0].firstName }}
{% endblock %}

{% block myBlogActive %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.id == authorData[0].id %}
        text-dark
    {% endif %}
{% endblock %}
{% block body %}
    {% if authorData[0].blogName is not null %}
        <h1 class="header">{{ authorData[0].blogName }}</h1>
        {% else %}
            <h1 class="header">{{ authorData[0].firstName }}</h1>
    {% endif %}
    <div class="user-section">
        <div class="user-image-section">
            {% if authorData[0].avatar is defined %}
                <img class="rounded-circle" width="120px" class="nav-profile-img" src="{{ asset('uploads/photos/'~ authorData[0].avatar) }}">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.id == authorData[0].id %}
                    <div class="manage-avatar">
                        <a class="edit-avatar" href="{{ url('avatar_edit', {id: authorData[0].avatarId}) }}">{{ 'action.change'|trans }}</a>
                        <span> | </span>
                        <a class="delete-avatar" href="{{ url('avatar_delete', {id: authorData[0].avatarId}) }}">{{ 'action.delete'|trans }}</a>
                    </div>
                {% endif %}
                {% else %}
                    <img class="rounded-circle" width="120px" class="nav-profile-img" src="{{ asset('uploads/photos/user_placeholder_image.jpg') }}">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.id == authorData[0].id %}
                        <a class="add-avatar" href="{{ url('avatar_new') }}">{{ 'action.add_avatar'|trans }}</a>
                    {% endif %}
            {% endif %}
        </div>
        {% if authorData[0].bio is defined %}
            <p class="user-bio">{{ authorData[0].bio }}</p>
        {% endif %}
        <div class="manage-blog">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if app.user.id == authorData[0].id %}
                    <a class="followed-link btn btn-secondary" href="{{ url('subscriptions_followers') }}">{{ 'title.followers'|trans }}</a>
                    <a class="edit-blog-data btn btn-warning" href="{{ url('edit_author', {id: authorData[0].id}) }}">{{ 'action.edit_blog'|trans }}</a>
                {% else %}
                    {% if not isSubscribed %}
                        <a class="btn btn-success" href="{{ url('subscription_follow', {id: authorData[0].id}) }}" title="follow">{{ 'label.follow'|trans }}</a>
                    {% else %}
                        <a class="btn btn-danger" href="{{ url('subscription_unfollow', {id: authorData[0].id}) }}" title="unfollow">{{ 'label.unfollow'|trans }}</a>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    {% if authorData[0].roles[1] is defined and authorData[0].roles[1] == 'ROLE_ADMIN' %}
                        <a href="{{ url('edit_role', {id: authorData[0].id}) }}">{{ 'label.remove_admin_privileges'|trans }}</a>
                            {% else %}
                                <a href="{{ url('edit_role', {id: authorData[0].id}) }}">{{ 'label.add_admin_privileges'|trans }}</a>
                    {% endif %}
                    <a href="{{ url('delete_user', {id: authorData[0].id}) }}">{{ 'label.delete_user'|trans }}</a>
                {% endif %}
            {% endif %}
        </div>
        <p class="user-name">{{ authorData[0].firstName }}</p>
    </div>

    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center flex-column">
            {{ knp_pagination_render(pagination) }}
        </div>

        <div class="sort-bar">
            <div><span>{{ 'label.sort'|trans }}: </span></div>
            <span class="sort-item">{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'a.title') }}</span>
            <span>|</span>
            <span class="sort-item">{{ knp_pagination_sortable(pagination, 'label.published_date'|trans, 'a.publishedAt') }}</span>
        </div>
        <section class="articles-container">
            {% for article in pagination %}
                <div class="articles-item">
                    <a class="article-link" href="{{ url('article_view', {id: article.id}) }}" title="view">
                        {% if article.coverPhoto.file is defined %}
                            <img class="articles-image" width="100%" src="{{ asset('uploads/photos/'~ article.coverPhoto.file.filename) }}" alt="">
                        {% else %}
                            <img class="articles-image" width="100%" src="{{ asset('uploads/photos/cover_placeholder_image.jpg') }}">
                        {% endif %}
                        <div class="articles-title">
                            <h2>{{ article.title }}</h2>
                        </div>
                    </a>
                    <a class="articles-author" href="{{ url('author_view', {id: article.author.id, firstName: article.author.firstName}) }}">
                        {% if article.author.avatar.file is defined %}
                            <img class="articles-author-avatar rounded-circle" width="60px" src="{{ asset('uploads/photos/'~ article.author.avatar.file.filename) }}" alt="">
                        {% else %}
                            <img class="articles-author-avatar rounded-circle" width="60px" src="{{ asset('uploads/photos/user_placeholder_image.jpg') }}" alt="">
                        {% endif %}
                        <div class="articles-author-name">
                            <span>{{ article.author.firstName }}</span>
                            {% if article.author.blogName is not null %}
                                <span> ({{ article.author.blogName }})</span>
                            {% endif %}
                        </div>
                    </a>
                    <div class="articles-category">
                        <span>{{ 'label.category'|trans }}:
                            <a  href="{{ url('category_view', {name: article.category.name}) }}">
                                {{ article.category.name }}
                            </a>
                        </span>
                    </div>
                    <div class="articles-date">
                        {{ article.publishedAt|localizeddate }}
                    </div>
                    <div class="articles-options">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('article_edit', {id: article.id}) }}" title="edit">
                                {{ 'action.edit'|trans }}
                            </a>
                            <span>|</span>
                            <a href="{{ url('article_delete', {id: article.id}) }}" title="delete">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </section>

        <div class="navigation text-center flex-column">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}