{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.category_list'|trans}}
{% endblock %}

{% block categoriesActive %}text-dark{% endblock %}

{% block body %}
    <h1 class="header">{{ 'title.category_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center flex-column">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success add-artcle-btn" href="{{ url('category_new') }}" title="{{ 'action.new'|trans }}">
            {{ 'action.new'|trans }}
        </a>
    {% endif %}
        <section class="categories-container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="ta-left">{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'c.name') }}</th>

    {% if is_granted('ROLE_ADMIN') %}
        <th class="ta-center">{{ 'label.number_of_article'|trans }}</th>
        <th class="ta-right">{{ 'label.options'|trans }}</th>
        {% else %}
            <th class="ta-right">{{ 'label.number_of_article'|trans }}</th>
    {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for category in pagination %}
                <tr>
                    <td class="ta-left">
                        <a class="category-td" href="{{ url('category_view', {name: category.name}) }}">{{ category.name }}</a>
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="ta-center">{{ category.articles|length }}</td>
                    <td class="ta-right">
                        <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a><br>
                        {% if not category.articles|length %}
                            <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </td>
                        {% else %}
                            <td class="ta-right">{{ category.articles|length }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </section>

        <div class="navigation text-center flex-column">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}