{% extends 'base.html.twig' %}

{% block title %}
    {{ categoryName }}
{% endblock %}

{% block body %}
    <h1 class="header">Kategoria: {{ categoryName }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center flex-column">
            {{ knp_pagination_render(pagination) }}
        </div>
{#        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}#}
{#            <a href="{{ url('article_new') }}" title="new">#}
{#                dodaj artykuł#}
{#            </a>#}
{#        {% endif %}#}

        <div class="sort-bar">
            <div><span>Sortuj: </span></div>
            <span class="sort-item">{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'a.title') }}</span>
            <span>|</span>
            <span class="sort-item">{{ knp_pagination_sortable(pagination, 'label.published_date'|trans, 'a.publishedAt') }}</span>
        </div>
        <section class="articles-container">
            {% for article in pagination %}
                <div class="articles-item">
                    <a class="article-link" href="{{ url('article_view', {id: article.id}) }}" title="view">
                        {% if article.coverPhoto.file is defined %}
                            <img class="articles-image" width="100%" src="{{ asset('uploads/photos/'~ article.coverPhoto.file.filename) }}" alt="">
                        {% else %}
                            <img class="articles-image" width="100%" src="{{ asset('uploads/photos/cover_placeholder_image.jpg') }}">
                        {% endif %}
                        <div class="articles-title">
                            <h2>{{ article.title }}</h2>
                        </div>
                    </a>
                    <a class="articles-author" href="{{ url('author_view', {id: article.author.id, firstName: article.author.firstName}) }}">
                        {% if article.author.avatar.file is defined %}
                            <img class="articles-author-avatar rounded-circle" width="60px" src="{{ asset('uploads/photos/'~ article.author.avatar.file.filename) }}" alt="">
                        {% else %}
                            <img class="articles-author-avatar rounded-circle" width="60px" src="{{ asset('uploads/photos/user_placeholder_image.jpg') }}" alt="">
                        {% endif %}
                        <div class="articles-author-name">
                            <span>{{ article.author.firstName }}</span>
                            {% if article.author.blogName is not null %}
                                <span> ({{ article.author.blogName }})</span>
                            {% endif %}
                        </div>
                    </a>
                    <div class="articles-category">
                        <span>{{ 'label.category'|trans }}:
                            <a  href="{{ url('category_view', {name: article.category.name}) }}">
                                {{ article.category.name }}
                            </a>
                        </span>
                    </div>
                    <div class="articles-date">
                        {{ article.publishedAt|localizeddate }}
                    </div>
                    <div class="articles-options">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('article_edit', {id: article.id}) }}" title="edit">
                                {{ 'action.edit'|trans }}
                            </a>
                            <span>|</span>
                            <a href="{{ url('article_delete', {id: article.id}) }}" title="delete">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </section>

        <div class="navigation text-center flex-column">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}