{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Strona główna' }}
{% endblock %}

{% block body %}
    <h1>Strona Główna</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a href="{{ url('article_new') }}" title="new">
            dodaj artykuł
        </a>
    {% endif %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'id', 'a.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'data publikacji', 'a.publishedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'tytuł', 'a.title') }}</th>
                <th>autor</th>
                <th>kategoria</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>opcje</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for article in pagination %}

                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.publishedAt|localizeddate }}</td>
                    <td><a href="{{ url('article_view', {id: article.id}) }}" title="view">{{ article.title }} </a></td>
                    <td><a href="{{ url('author_view', {id: article.author.id, firstName: article.author.firstName}) }}">{{ article.author.firstName }}</a></td>
                    <td><a href="{{ url('category_view', {name: article.category.name}) }}">{{ article.category.name }}</a></td>

                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ url('article_edit', {id: article.id}) }}" title="edit">
                            edytuj
                        </a><br>
                        <a href="{{ url('article_delete', {id: article.id}) }}" title="delete">
                            usuń
                        </a>
                    </td>
                    {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            brak artykułów
        </p>
    {% endif %}

{% endblock %}