{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <header class="article-header">
    <div class="article-info">
        <a class="article-author" href="{{ url('author_view', {id: article.author.id, firstName: article.author.firstName}) }}">
            {% if article.author.avatar.file is defined %}
                <img width="80px" class="article-author-avatar rounded-circle" src="{{ asset('uploads/photos/'~ article.author.avatar.file.filename) }}">
            {% else %}
                <img width="80px" class="article-author-avatar rounded-circle" src="{{ asset('uploads/photos/user_placeholder_image.jpg') }}">
            {% endif %}
            <span class="article-author-name">{{ article.author.firstName }}</span>
        </a>
        <div class="article-published-date">
            <span class="article-date-title">{{ 'label.published_date'|trans }}: </span>
            <span class="article-date-item">{{ article.publishedAt|localizeddate }}</span>
        </div>
        <div class="article-category">
            <span class="article-category-title">{{ 'label.category'|trans }}: </span>
            <span class="article-category-item"><a href="{{ url('category_view', {name: article.category.name}) }}">{{ article.category.name }}</a></span>
        </div>
    </div>
    <div class="title-background">
        {% if article is defined and article|length %}
            {% if article.coverPhoto.file is defined %}
                <img class="article-photo article-header-item" src="{{ asset('uploads/photos/'~ article.coverPhoto.file.filename) }}">
			{% if app.user.firstName is defined and (article.author.firstName == app.user.firstName or is_granted('ROLE_ADMIN'))%}
                		<a class="edit-photo" href="{{ url('photo_edit', {articleId: article.id, id: article.coverPhoto.id}) }}">{{ 'label.edit_photo'|trans }}</a>
			{% endif %}
                {% else %}
                    <img class="article-photo article-header-item" src="{{ asset('uploads/photos/cover_placeholder_image.jpg') }}">
			{% if app.user.firstName is defined and (article.author.firstName == app.user.firstName or is_granted('ROLE_ADMIN'))%}
                    		<a class="edit-photo" href="{{ url('photo_new', {id: article.id}) }}">{{ 'label.add_photo'|trans }}</a>
			 {% endif %}
        {% endif %}
            <h1 class="article-title article-header-item">{{  article.title }}</h1>
            </div>
            <div class="managed-article">
                {% if app.user.firstName is defined and (article.author.firstName == app.user.firstName or is_granted('ROLE_ADMIN'))%}
                    <a class="article-managed-item btn btn-warning" href="{{ url('article_edit', {id: article.id}) }}" title="edit">
                        {{ 'action.edit'|trans }}
                    </a><br>
                    <a class="article-managed-item btn btn-danger" href="{{ url('article_delete', {id: article.id}) }}" title="delete">
                        {{ 'action.delete'|trans }}
                    </a>
                {% endif %}
            </div>
        </header>
        <main class="article-content">{{  article.body|markdown }}</main>
        <div>
            <h3 class="sub-header">{{ 'label.tags'|trans }}</h3>
            <section class="tags-container">
            {% for tag in article.tags %}
                <span class="tag"><a class="badge badge-info tag" href="{{ url('tag_articles', {id: tag.id, name: tag.name}) }}">{{ tag.name }}</a></span>
            {% endfor %}
            </section>
        </div>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
    <h2>{{ 'label.comments'|trans }}</h2>
    <div class="comments-container">
    {% if comments is defined and comments|length %}
        {% for comment in comments %}
            <div class="comment">
                    <a class="comment-avatar-link" href="{{ url('author_view', {id: comment.author.id, firstName: comment.author.firstName}) }}">
                    {% if comment.author.avatar.file is defined %}
                        <img class="rounded-circle" width="60px" src="{{ asset('uploads/photos/'~ comment.author.avatar.file.filename) }}" alt="">
                        {% else %}
                            <img class="rounded-circle" width="60px" src="{{ asset('uploads/photos/user_placeholder_image.jpg') }}">
                    {% endif %}
                    </a>
                <div class="comment-info">
                    <span class="comment-author"><a href="{{ url('author_view', {id: comment.author.id, firstName: comment.author.firstName}) }}">{{ comment.author.firstName }}</a></span>
                <span class="comment-date">{{ comment.createdAt|localizeddate }}</span>
                </div>
                <p class="comment-content">{{ comment.content }}</p>
            </div>
        {% endfor %}
        {% else %}
            <p>{{ 'label.no_comments'|trans }}</p>
    {% endif %}
    </div>
    <h3 class="sub-header">{{ 'label.add_comments'|trans }}</h3>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and comment_form is defined %}

    {{ form_start(comment_form, { method: 'POST', action: url('article_view', {id: article.id}) }) }}
    {{ form_widget(comment_form) }}
            <div class="form-group row float-sm-left">
                <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary" />
            </div>
    {{ form_end(comment_form) }}
        </div>
        {% else %}
        <p><a href="{{ url('security_login') }}">{{ 'title.login'|trans }}</a>, {{ 'desctiption.login_to_comment'|trans }}.</p>
    {% endif %}
{% endblock %}