{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    {% if app.user.firstName is defined and (article.author.firstName == app.user.firstName or is_granted('ROLE_ADMIN'))%}
        <a href="{{ url('article_edit', {id: article.id}) }}" title="edit">
            {{ 'action.edit'|trans }}
        </a><br>
        <a href="{{ url('article_delete', {id: article.id}) }}" title="delete">
            {{ 'action.delete'|trans }}
        </a>
    {% endif %}
    {% if article is defined and article|length %}
        <header>
            {% if article.coverPhoto.file is defined %}
                <img src="{{ asset('uploads/photos/'~ article.coverPhoto.file.filename) }}">
                {% else %}
                    <img src="{{ asset('uploads/photos/cover_placeholder_image.jpg') }}">
    {% endif %}
            <h1>{{  article.title }}</h1>
            <div>
                {% if article.author.avatar.file is defined %}
                    <img width="120px" class="nav-profile-img" src="{{ asset('uploads/photos/'~ article.author.avatar.file.filename) }}">
                {% else %}
                    <img width="120px" src="{{ asset('uploads/photos/user_placeholder_image.jpg') }}">
                {% endif %}
                <a href="{{ url('author_view', {id: article.author.id, firstName: article.author.firstName}) }}">{{ article.author.firstName }}</a>
            </div>
            <dl class="dl-horizontal">
                <dt>{{ 'label.published_date'|trans }}</dt>
                <dd>{{ article.publishedAt|localizeddate }}</dd>
                <dt>{{ 'label.category'|trans }}</dt>
                <dd><a href="{{ url('category_view', {name: article.category.name}) }}">{{ article.category.name }}</a></dd>
            </dl>
        </header>
        <div>{{  article.body|markdown }}</div>
        <div>
            <span>{{ 'label.tags'|trans }}: </span>
            {% for tag in article.tags %}
                <a href="{{ url('tag_articles', {name: tag.name, id: tag.id}) }}">{{ tag.name }}</a>
                {% if loop.index != article.tags|length %}
                    {{ ',' }}
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
    <h2>Komentarze</h2>
    {% if comments is defined and comments|length %}
        {% for comment in comments %}
            <dl class="dl-horizontal">
                <dt>autor</dt>
                <dd>
                    <a href="{{ url('author_view', {id: comment.author.id, firstName: comment.author.firstName}) }}">
                    {% if comment.author.avatar.file is defined %}
                        <img width="40px" src="{{ asset('uploads/photos/'~ comment.author.avatar.file.filename) }}" alt="">
                        {% else %}
                            <img width="40px" src="{{ asset('uploads/photos/user_placeholder_image.jpg') }}">
                    {% endif %}
                    <span>{{ comment.author.firstName }}</span>
                    </a>
                </dd>
                <dt>treść</dt>
                <dd>{{ comment.content }}</dd>
                <dt>data dodania</dt>
                <dd>{{ comment.createdAt|localizeddate }}</dd>
            </dl>
            <br><br>
        {% endfor %}
        {% else %}
            <p>brak komentarzy</p>
    {% endif %}
    <h3>Dodaj komentarz</h3>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and comment_form is defined %}

    {{ form_start(comment_form, { method: 'POST', action: url('article_view', {id: article.id}) }) }}
    {{ form_widget(comment_form) }}
            <div class="form-group row float-sm-left">
                <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary" />
            </div>
    {{ form_end(comment_form) }}
        </div>
        {% else %}
        <p><a href="{{ url('security_login') }}">zaloguj się</a>, by móc komentować</p>
    {% endif %}
{% endblock %}