{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    {% if article is defined and article|length %}
        <h1>{{  article.title }}</h1>
        <dl class="dl-horizontal">
            <dt>Autor</dt>
            <dd>{{  article.author.firstName }}</dd>
            <dt>Data publikacji</dt>
            <dd>{{ article.publishedAt|localizeddate }}</dd>
            <dt>Treść</dt>
            <dd>{{  article.body }}</dd>
            <dt>Kategoria</dt>
            <dd>{{  article.category.name }}</dd>
            <dt>Tagi</dt>
            <dd>
            {% for tag in article.tags %}
            {{ tag.name }}
                {% if loop.index != article.tags|length %}
                {{ ',' }}
                {% endif %}
            {% endfor %}
            </dd>
            <dt>Id</dt>
            <dd>{{ article.id }}</dd>
        </dl>
    {% else %}
        <p>
            nie znaleziono artykułu
        </p>
    {% endif %}
{% endblock %}