{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.subscription_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.subscription_header'|trans }}</h1>
    <a href="{{ url('subscriptions_followed') }}">{{ 'label.followers'|trans }}</a>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'a.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.published_date'|trans, 'a.publishedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'a.title') }}</th>
                <th>{{ 'label.author'|trans }}</th>
                <th></th>
                <th>{{ 'label.category'|trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ 'label.options'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for article in pagination %}

                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.publishedAt|localizeddate }}</td>
                    <td><a href="{{ url('article_view', {id: article.id}) }}" title="view">{{ article.title }} </a></td>
                    <td><a href="{{ url('author_view', {id: article.author.id, firstName: article.author.firstName}) }}">{{ article.author.firstName }}</a></td>
                    {% if article.author.avatar.file is defined %}
                        <td><img width="50px" src="{{ asset('uploads/photos/'~ article.author.avatar.file.filename) }}" alt=""></td>
                    {% else %}
                        <td><img width="50px" src="{{ asset('uploads/photos/user_placeholder_image.jpg') }}" alt=""></td>
                    {% endif %}
                    <td><a href="{{ url('category_view', {name: article.category.name}) }}">{{ article.category.name }}</a></td>

                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ url('article_edit', {id: article.id}) }}" title="edit">
                                {{ 'action.edit'|trans }}
                            </a><br>
                            <a href="{{ url('article_delete', {id: article.id}) }}" title="delete">
                                {{ 'action.delete'|trans }}
                            </a>
                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}