{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.article_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.article_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ url('article_new') }}" title="new">
                {{ 'action.add_article'|trans }}
            </a>
        {% endif %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'a.title') }}</th>
                <th>{{ 'label.author'|trans }}</th>
                <th>{{ 'label.category'|trans }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.published_date'|trans, 'a.publishedAt') }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ 'label.options'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for article in pagination %}

                <tr>
                    <td>
                        <a href="{{ url('article_view', {id: article.id}) }}" title="view">
                            {% if article.coverPhoto.file is defined %}
                                <img width="120px" src="{{ asset('uploads/photos/'~ article.coverPhoto.file.filename) }}" alt="">
                            {% else %}
                                <img width="120px" src="{{ asset('uploads/photos/cover_placeholder_image.jpg') }}">
                            {% endif %}
                            <span>{{ article.title }}</span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('author_view', {id: article.author.id, firstName: article.author.firstName}) }}">
                            {% if article.author.avatar.file is defined %}
                                <img width="60px" src="{{ asset('uploads/photos/'~ article.author.avatar.file.filename) }}" alt="">
                            {% else %}
                                <img width="60px" src="{{ asset('uploads/photos/user_placeholder_image.jpg') }}" alt="">
                            {% endif %}
                            <span>{{ article.author.firstName }}</span>
                            {% if article.author.blogName is not null %}
                                <span> ({{ article.author.blogName }})</span>
                            {% endif %}
                        </a>
                    </td>
                    <td><a href="{{ url('category_view', {name: article.category.name}) }}">{{ article.category.name }}</a></td>
                    <td>{{ article.publishedAt|localizeddate }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ url('article_edit', {id: article.id}) }}" title="edit">
                                {{ 'action.edit'|trans }}
                            </a><br>
                            <a href="{{ url('article_delete', {id: article.id}) }}" title="delete">
                                {{ 'action.delete'|trans }}
                            </a>
                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}